# ============================================================
# .env.example
# Copy file ini menjadi .env dan sesuaikan nilainya
# JANGAN commit file .env ke GitHub! (sudah ada di .gitignore)
# ============================================================

# PostgreSQL connection
DB_HOST=postgres
DB_PORT=5432
DB_NAME=credit_risk_db
DB_USER=dataengineer
DB_PASSWORD=de_password123

# Pipeline config (opsional)
LOG_LEVEL=INFO
