# Environment
venv/
.env

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.ipynb_checkpoints/

# Data (jangan upload ke GitHub)
data/raw/
data/processed/
*.csv
*.zip

# Model binary
models/*.pkl

# OS
.DS_Store

# Logs
*.log

# Google Cloud credentials (NEVER commit this)
credentials/
*.json
!docs/model_metrics.json
